.welcome {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-content: space-around;
  background-color: #fff5eb;
}
.welcome h2 {
  font-size: 2rem;
  margin: 1%;
}

.welcome p {
  font-size: 1.2rem;
  background: rgb(0, 128, 145);
  background: linear-gradient(
    90deg,
    rgba(146, 141, 231, 0.1548249641653537) 0%,
    rgba(0, 212, 255, 0.14807426388524154) 100%
  );
  width: 50%;
  padding: 1%;
  box-shadow: rgb(0, 128, 145, 0.27) 0px 5px 15px;
  border-radius: 15px;
  margin: auto;
}
@media only screen and (max-width: 650px) {
  .welcome p {
    padding: 3%;
    width: 80%;
    font-size: 1.2rem;
  }
  .welcome h1 {
    font-size: 4rem;
  }
  .welcome h2 {
    font-size: 1.5rem;
    margin: auto;
  }
  .welcome svg {
    height: 40%;
  }
}
