.skills ul {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 8px;
  padding: 0;
  margin: auto auto 5% auto;
  background-color: rgba(1, 64, 75, 0.178);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.skills ul li {
  margin: 1%;
  height: 3.5rem;
  width: 3.5rem;
  padding: 1%;
}
.skills ul li:hover {
  background-color: #fff5eb6b;
}

@media only screen and (max-width: 650px) {
  .skills ul {
    width: 90%;
  }
  .skills ul li {
    height: 2.5rem;
    width: 2.5rem;
  }
}
